@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
*{
    background-color: rgb(160, 55, 86);
    font-family: 'Roboto', sans-serif;
    color: #081d31;
    text-align: center;
    padding: 0;
    margin: 0;
}
/** 
styling the heading 
I got my inspiration from the love math css and https://github.com/knutinator/lets-play-rpsls
 */
/* Logo on top of page */
.logo-top {
    font-size: 1.5rem;
    color: gray;
}

.logo-bottom {
    font-size: 4rem;
    margin-top: -2rem;
}

/* Styling to make whole game fit on mobile screens */
@media screen and (max-width: 425px) {
    .logo-bottom {
        margin-bottom: 1rem;
    }
    #game-area {
        padding: 0rem;
        margin: auto;    
        width: 90%;
    }
    p#winner-message-area {
        margin-bottom: -1.5rem;
    }
    .player1{
        font-display: ;
        
    }
  }

/* main game area containing icons */
#game-area {
    position: relative;
}

.sel {
    display: inline-block;
    padding: .5rem;
}

.text-label {
    position: relative;
    bottom: 1rem;
}

.icon {
    cursor:pointer;
    font-size: 5rem;
    transition: 100ms;
}

.icon:hover {
    transform: scale(1.3);
    color: rgb(255, 0, 0)
}

/* Player names and scoreboxes */
#score-area {
    width: 75%;
    max-width: 20rem;
    margin: 0 auto 0 auto;
    height: 260px;
    align-self: center;
    
}

#player1 {
    margin-top: 3rem;
    float: left;
}

#scorebox-p {
    border-radius: 1rem;
    border: 8px solid red;
    width: 4rem;
    padding: 0 1rem 1rem 1rem;
}

#player1-score {
    font-size: xx-large;
}

.score {
    height: 5rem;
}

#cpu {
    margin-top: 3rem;
    float: right;
}

#scorebox-c {
    border-radius: 1rem;
    border: 8px solid grey;
    width: 4rem;
    padding: 0 1rem 1rem 1rem;
}

#cpu-score {
    font-size: xx-large;
    }
